<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Update <%= meal.dayOfTheWeek %> meals</h1>
    </div>
    <form action="/show/<%= meal._id %>?_method=PUT" method="post">
        <input type="text" name="meal" placeholder="meal description" value="<%= meal.meal %>">
        <input type="number" name="forHowManyPeople" placeholder="For how many?" value="<%= meal.forHowManyPeople %>">
        <input type="checkbox" name="isItPrepared" <%= meal.isItPrepared ? "checked" : "" %>>
        <input type="text" name="lunch" placeholder="lunch description" value="<%= meal.lunch %>">
        <input type="submit" value="Update <%= meal.dayOfTheWeek %>">
    </form>
    <div>
        <a href="/">
            <button>
                <h5>Back to updated <%= meal.dayOfTheWeek %> meal</h5>
            </button>
        </a>
    </div>
</body>
</html>