<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><%= meal.dayOfTheWeek %></h1>
        <div>
            <h2>Breakfast:</h2>
            <h3><%= meal.mealOne %></h3>
            <h2>How many people?</h2>
            <h3><%= meal.howManyPeopleBreakfast %></h3>
            <h2>Prep'd? <%= meal.isItPreparedOne ? "Yes! And I can't wait to smash!!!" : "Not yet" %></h2>
        </div>
        <div>
            <h2>Lunch:</h2>
            <h3><%= meal.mealTwo %></h3>
            <h2>How many people?</h2>
            <h3><%= meal.howManyPeopleLunch %></h3>
            <h2>Prep'd? <%= meal.isItPreparedTwo ? "Yes! And I can't wait to smash!!!" : "Not yet" %></h2>
        </div>
        <div>
            <h2>Dinner:</h2>
            <h3><%= meal.mealThree %></h3>
            <h2>How many people?</h2>
            <h3><%= meal.howManyPeopleDinner %></h3>
            <h2>Prep'd? <%= meal.isItPreparedThree ? "Yes! And I can't wait to smash!!!" : "Not yet" %></h2>
        </div>
        <div>
            <a href="/show/<%= meal._id %>/edit">
                <button>
                    <h5>Edit Meal</h5>
                </button>
            </a>
        </div>
        <div>
            <form action="/show/<%= meal.id %>?_method=DELETE" method="post">
                <input type="submit" value="Delete Day">
            </form>
        </div>
        <div>
            <a href="/">
                <button>
                    <h5>Back to the week</h5>
                </button>
            </a>
            <!-- <a href="/<%= meal.dayOfTheWeek %>">
                <button>
                    <h5>Back to the day</h5>
                </button>
            </a> -->
        </div>
    </div>
</body>
</html>